.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-gap: 2px;
}

.board .cell {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  background-color: white;
}

.board .cell.unrevealed {
  background-color: white;
}

.board .cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    background-color: white;
}

.board .cell.unrevealed {
    background-color: white;
}

.board .cell.hit {
    background-color: #86652f;
}

.board .cell.miss {
    background-color: #addfff;
}